/* You can add global styles to this file, and also import other style files */
textarea,
.minHeight,
.jsoneditor {
  min-height: 750px;
  height: 750px;
  background-color: lightgrey;
}

body {
  background-color: black;
  color: white;
}

img {
  height: 25px;
}
