<kendo-grid
  (detailExpand)="detailExpanded($event)"
  [height]="800"
  kendoGridFocusable
  [imngODataGrid]="this">
  <ng-template kendoGridToolbarTemplate>
    <div class="w-100 d-flex justify-content-between">
      <h3>Customers</h3>
      <imng-kendo-odata-grid-header
        entityName="Customer"
        (addItemClicked)="addItem()"
        (reloadEntitiesClicked)="reloadEntities()"
        (resetFiltersClicked)="resetFilters()"
        [hasHiddenColumns$]="hasHiddenColumns$" />
    </div>
  </ng-template>
  <kendo-grid-column [width]="75">
    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
      <kendo-menu title="Actions">
        <kendo-menu-item [svgIcon]="icons.menu">
          <kendo-menu-item>
            <ng-template kendoMenuItemLinkTemplate>
              <button
                type="button"
                class="btn btn-sm mx-3 my-2 text-start"
                (click)="editItem(dataItem)"
                placement="left"
                tooltip="Edit">
                <kendo-svgicon
                  [icon]="icons.menu"
                  size="xlarge"></kendo-svgicon>
                Edit
              </button>
            </ng-template>
          </kendo-menu-item>
          <kendo-menu-item>
            <ng-template kendoMenuItemLinkTemplate>
              <button
                type="button"
                class="btn btn-sm mx-3 my-2 text-start"
                (click)="deleteItem(dataItem)"
                placement="left"
                tooltip="Delete">
                <kendo-svgicon
                  [icon]="icons.trash"
                  size="xlarge"></kendo-svgicon>
                Delete
              </button>
            </ng-template>
          </kendo-menu-item>
        </kendo-menu-item>
      </kendo-menu>
    </ng-template>
  </kendo-grid-column>

  <kendo-grid-column
    [field]="props.ID"
    [width]="100"
    title="Id"
    filter="text"
    [hidden]="false">
    <ng-template kendoGridCellTemplate let-dataItem>
      <imng-kendo-copy
        [displayValue]="
          `${(dataItem[props.ID] | slice: 0 : 4)}.-.${(dataItem[props.ID] | slice: -4)}`
        "
        [copyValue]="dataItem[props.ID]" />
    </ng-template>
    <ng-template kendoGridFilterMenuTemplate let-filter>
      <imng-uuid-filter [filter]="filter" />
    </ng-template>
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6" title="Id">Id</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    [field]="props.NUM"
    [width]="100"
    title="Num"
    filter="text"
    [hidden]="false">
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6" title="Num">Num</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    [field]="props.NAME"
    [width]="100"
    title="Name"
    filter="text"
    [hidden]="false">
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6" title="Name">Name</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    [field]="props.COMPANY_NAME"
    [width]="100"
    title="Company Name"
    filter="text"
    [hidden]="false">
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6" title="Company Name">Company Name</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    [field]="props.SALES_AGENT_ID"
    [width]="100"
    title="Sales Agent Id"
    filter="numeric"
    [hidden]="false">
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6" title="Sales Agent Id">Sales Agent Id</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    [field]="props.EMAIL_ADDRESS"
    [width]="100"
    title="Email Address"
    filter="text"
    [hidden]="false">
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6" title="Email Address">Email Address</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    [field]="props.PHONE"
    [width]="100"
    title="Phone"
    filter="text"
    [hidden]="false">
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6" title="Phone">Phone</span>
    </ng-template> </kendo-grid-column
  >dc
  <kendo-grid-column
    [field]="getRelatedField(props.SALES_AGENT, salesAgentProps.NAME)"
    [width]="100"
    title="Sales Agent"
    filter="text"
    [hidden]="false">
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6" title="Sales Agent">Sales Agent</span>
    </ng-template>
  </kendo-grid-column>

  <kendo-grid-pdf
    [fileName]="getExportFileName('Customers')"
    [allPages]="false">
    <kendo-grid-pdf-margin top="1cm" left="1cm" right="1cm" bottom="1cm" />
  </kendo-grid-pdf>
  <kendo-grid-excel
    [fileName]="getExportFileName('Customers')"
    [fetchData]="excelData" />
</kendo-grid>

@switch (crudFacade.currentModalState$ | async) {
  <!-- @case (modalStates.ADD) {
    <aw-customer-add />
  }
  @case (modalStates.EDIT) {
    <aw-customer-edit />
  } -->
  @case (modalStates.DELETE) {
    <imng-data-delete-dialog
      [facade]="crudFacade"
      [dataItem]="crudFacade.currentEntity$ | async">
      <div class="text-center">
        Are you sure you want to delete this record?
      </div>
    </imng-data-delete-dialog>
  }
}
