<imng-data-entry-dialog [width]="700" [height]="550" [parentComponent]="this" autoFocusedElement="#order_id">
  <form novalidate [formGroup]="addEditForm" autocomplete="false" class="row">
    <div class="col-md-6">
      <label for="id" class="control-label mr-4">Id:</label>
      <input id="id" type="text" class="form-control" [formControlName]="props.ID"
        [ngClass]="{ 'is-invalid': (submitted$ | async) && formControlErrors(props.ID) }" />
      <div *ngIf="(submitted$ | async) && formControlErrors(props.ID)" class="invalid-feedback">
        <div *ngIf="formControlErrors(props.ID)?.[RequiredError]">Order id is required</div>
      </div>
    </div>
    <div class="col-md-6">
      <label for="order_id" class="control-label mr-4">Order Id:</label>
      <input id="order_id" type="number" class="form-control" [formControlName]="props.ORDER_ID"
        [ngClass]="{ 'is-invalid': (submitted$ | async) && formControlErrors(props.ORDER_ID) }" />
      <div *ngIf="(submitted$ | async) && formControlErrors(props.ORDER_ID)" class="invalid-feedback">
        <div *ngIf="formControlErrors(props.ORDER_ID)?.[RequiredError]">Order order id is required</div>
      </div>
    </div>
    <div class="col-md-6">
      <label for="revision_num" class="control-label mr-4">Revision Num:</label>
      <input id="revision_num" type="number" class="form-control" [formControlName]="props.REVISION_NUM"
        [ngClass]="{ 'is-invalid': (submitted$ | async) && formControlErrors(props.REVISION_NUM) }" />
      <div *ngIf="(submitted$ | async) && formControlErrors(props.REVISION_NUM)" class="invalid-feedback">
        <div *ngIf="formControlErrors(props.REVISION_NUM)?.[RequiredError]">Order revision num is required</div>
      </div>
    </div>
    <div class="col-md-6">
      <label for="date" class="control-label mr-4">Date:</label>
      <kendo-datepicker id="date" class="form-control" [formControlName]="props.DATE"
        [ngClass]="{ 'is-invalid': (submitted$ | async) && formControlErrors(props.DATE) }"></kendo-datepicker>
      <div *ngIf="(submitted$ | async) && formControlErrors(props.DATE)" class="invalid-feedback">
        <div *ngIf="formControlErrors(props.DATE)?.[RequiredError]">Order date is required</div>
      </div>
    </div>
    <div class="col-md-6">
      <label for="due_date" class="control-label mr-4">Due Date:</label>
      <kendo-datepicker id="due_date" class="form-control" [formControlName]="props.DUE_DATE"
        [ngClass]="{ 'is-invalid': (submitted$ | async) && formControlErrors(props.DUE_DATE) }"></kendo-datepicker>
      <div *ngIf="(submitted$ | async) && formControlErrors(props.DUE_DATE)" class="invalid-feedback">
        <div *ngIf="formControlErrors(props.DUE_DATE)?.[RequiredError]">Order due date is required</div>
      </div>
    </div>
    <div class="col-md-6">
      <label for="ship_date" class="control-label mr-4">Ship Date:</label>
      <kendo-datepicker id="ship_date" class="form-control" [formControlName]="props.SHIP_DATE"></kendo-datepicker>
    </div>
    <div class="col-md-6">
      <label for="status_type" class="control-label mr-4">Status Type:</label>
      <kendo-combobox
        id="status_type"
        placeholder="Select a status type..."
        [formControlName]="props.STATUS_TYPE"
        [data]="statusTypes$ | async"
        [textField]="ENUM_DISPLAY_TEXT"
        [valueField]="ENUM_NAME"
        [valuePrimitive]="true"
        [filterable]="true"
        (filterChange)="handleStatusTypeFilter($event)"
        [ngClass]="{ 'is-invalid': (submitted$ | async) && formControlErrors(props.STATUS_TYPE) }">
      </kendo-combobox>
      <div *ngIf="(submitted$ | async) && formControlErrors(props.STATUS_TYPE)" class="invalid-feedback">
        <div *ngIf="formControlErrors(props.STATUS_TYPE)?.[RequiredError]">Order status type is required</div>
      </div>
    </div>
    <div class="col-md-6">
      <label for="is_online_order" class="control-label mr-4">Is Online Order:</label>
      <input id="is_online_order" type="checkbox" [formControlName]="props.IS_ONLINE_ORDER" />
    </div>
    <div class="col-md-6">
      <label for="num" class="control-label mr-4">Num:</label>
      <input id="num" type="text" class="form-control" [formControlName]="props.NUM"
        [ngClass]="{ 'is-invalid': (submitted$ | async) && formControlErrors(props.NUM) }" />
      <div *ngIf="(submitted$ | async) && formControlErrors(props.NUM)" class="invalid-feedback">
        <div *ngIf="formControlErrors(props.NUM)?.[RequiredError]">Order num is required</div>
      </div>
    </div>
    <div class="col-md-6">
      <label for="purchase_order_num" class="control-label mr-4">Purchase Order Num:</label>
      <input id="purchase_order_num" type="text" class="form-control" [formControlName]="props.PURCHASE_ORDER_NUM" />
    </div>
    <div class="col-md-6">
      <label for="customer_id" class="control-label mr-4">Customer Id:</label>
      <input id="customer_id" type="text" class="form-control" [formControlName]="props.CUSTOMER_ID"
        [ngClass]="{ 'is-invalid': (submitted$ | async) && formControlErrors(props.CUSTOMER_ID) }" />
      <div *ngIf="(submitted$ | async) && formControlErrors(props.CUSTOMER_ID)" class="invalid-feedback">
        <div *ngIf="formControlErrors(props.CUSTOMER_ID)?.[RequiredError]">Order customer id is required</div>
      </div>
    </div>
    <div class="col-md-6">
      <label for="ship_to_address_id" class="control-label mr-4">Ship To Address Id:</label>
      <input id="ship_to_address_id" type="text" class="form-control" [formControlName]="props.SHIP_TO_ADDRESS_ID" />
    </div>
    <div class="col-md-6">
      <label for="bill_to_address_id" class="control-label mr-4">Bill To Address Id:</label>
      <input id="bill_to_address_id" type="text" class="form-control" [formControlName]="props.BILL_TO_ADDRESS_ID" />
    </div>
    <div class="col-md-6">
      <label for="shipping_type" class="control-label mr-4">Shipping Type:</label>
      <kendo-combobox
        id="shipping_type"
        placeholder="Select a shipping type..."
        [formControlName]="props.SHIPPING_TYPE"
        [data]="shippingTypes$ | async"
        [textField]="EnumProperties.DISPLAY_TEXT"
        [valueField]="EnumProperties.NAME"
        [valuePrimitive]="true"
        [filterable]="true"
        (filterChange)="handleShippingTypeFilter($event)"
        [ngClass]="{ 'is-invalid': (submitted$ | async) && formControlErrors(props.SHIPPING_TYPE) }">
      </kendo-combobox>
      <div *ngIf="(submitted$ | async) && formControlErrors(props.SHIPPING_TYPE)" class="invalid-feedback">
        <div *ngIf="formControlErrors(props.SHIPPING_TYPE)?.[RequiredError]">Order shipping type is required</div>
      </div>
    </div>
    <div class="col-md-6">
      <label for="credit_card_approval_code" class="control-label mr-4">Credit Card Approval Code:</label>
      <input id="credit_card_approval_code" type="text" class="form-control" [formControlName]="props.CREDIT_CARD_APPROVAL_CODE" />
    </div>
    <div class="col-md-6">
      <label for="sub_total" class="control-label mr-4">Sub Total:</label>
      <input id="sub_total" type="number" class="form-control" [formControlName]="props.SUB_TOTAL"
        [ngClass]="{ 'is-invalid': (submitted$ | async) && formControlErrors(props.SUB_TOTAL) }" />
      <div *ngIf="(submitted$ | async) && formControlErrors(props.SUB_TOTAL)" class="invalid-feedback">
        <div *ngIf="formControlErrors(props.SUB_TOTAL)?.[RequiredError]">Order sub total is required</div>
      </div>
    </div>
    <div class="col-md-6">
      <label for="tax_amt" class="control-label mr-4">Tax Amt:</label>
      <input id="tax_amt" type="number" class="form-control" [formControlName]="props.TAX_AMT"
        [ngClass]="{ 'is-invalid': (submitted$ | async) && formControlErrors(props.TAX_AMT) }" />
      <div *ngIf="(submitted$ | async) && formControlErrors(props.TAX_AMT)" class="invalid-feedback">
        <div *ngIf="formControlErrors(props.TAX_AMT)?.[RequiredError]">Order tax amt is required</div>
      </div>
    </div>
    <div class="col-md-6">
      <label for="freight" class="control-label mr-4">Freight:</label>
      <input id="freight" type="number" class="form-control" [formControlName]="props.FREIGHT"
        [ngClass]="{ 'is-invalid': (submitted$ | async) && formControlErrors(props.FREIGHT) }" />
      <div *ngIf="(submitted$ | async) && formControlErrors(props.FREIGHT)" class="invalid-feedback">
        <div *ngIf="formControlErrors(props.FREIGHT)?.[RequiredError]">Order freight is required</div>
      </div>
    </div>
    <div class="col-md-6">
      <label for="total_due" class="control-label mr-4">Total Due:</label>
      <input id="total_due" type="number" class="form-control" [formControlName]="props.TOTAL_DUE"
        [ngClass]="{ 'is-invalid': (submitted$ | async) && formControlErrors(props.TOTAL_DUE) }" />
      <div *ngIf="(submitted$ | async) && formControlErrors(props.TOTAL_DUE)" class="invalid-feedback">
        <div *ngIf="formControlErrors(props.TOTAL_DUE)?.[RequiredError]">Order total due is required</div>
      </div>
    </div>
    <div class="col-md-6">
      <label for="comment" class="control-label mr-4">Comment:</label>
      <input id="comment" type="text" class="form-control" [formControlName]="props.COMMENT" />
    </div>
    <div class="col-md-6">
      <label for="customer" class="control-label mr-4">Customer:</label>
      <kendo-multicolumncombobox
        id="customer"
        placeholder="Select a customer..."
        [formControlName]="props.CUSTOMER_ID"
        [data]="customers$ | async"
        [textField]="customerProps.NUM"
        [valueField]="customerProps.ID"
        [valuePrimitive]="true"
        [filterable]="true"
        (filterChange)="handleCustomerFilter($event)">
          <kendo-combobox-column field="num" title="Num" [width]="100"></kendo-combobox-column>
          <kendo-combobox-column field="name" title="Name" [width]="100"></kendo-combobox-column>
          <kendo-combobox-column field="companyName" title="Company Name" [width]="100"></kendo-combobox-column>
          <kendo-combobox-column field="salesAgentId" title="Sales Agent Id" [width]="100"></kendo-combobox-column>
          <kendo-combobox-column field="emailAddress" title="Email Address" [width]="100"></kendo-combobox-column>
          <kendo-combobox-column field="phone" title="Phone" [width]="100"></kendo-combobox-column>
          <kendo-combobox-column field="salesAgent" title="Sales Agent" [width]="100"></kendo-combobox-column>
      </kendo-multicolumncombobox>
    </div>
    <div class="col-md-6">
      <label for="ship_to_address" class="control-label mr-4">Ship To Address:</label>
      <kendo-multicolumncombobox
        id="ship_to_address"
        placeholder="Select a ship to address..."
        [formControlName]="props.SHIP_TO_ADDRESS_ID"
        [data]="shipToAddresses$ | async"
        [textField]="shipToAddressProps.LINE_1"
        [valueField]="shipToAddressProps.ID"
        [valuePrimitive]="true"
        [filterable]="true"
        (filterChange)="handleShipToAddressFilter($event)">
          <kendo-combobox-column field="line1" title="Line 1" [width]="100"></kendo-combobox-column>
          <kendo-combobox-column field="line2" title="Line 2" [width]="100"></kendo-combobox-column>
          <kendo-combobox-column field="city" title="City" [width]="100"></kendo-combobox-column>
          <kendo-combobox-column field="stateProvince" title="State Province" [width]="100"></kendo-combobox-column>
          <kendo-combobox-column field="countryRegion" title="Country Region" [width]="100"></kendo-combobox-column>
          <kendo-combobox-column field="postalCode" title="Postal Code" [width]="100"></kendo-combobox-column>
      </kendo-multicolumncombobox>
    </div>
    <div class="col-md-6">
      <label for="bill_to_address" class="control-label mr-4">Bill To Address:</label>
      <kendo-multicolumncombobox
        id="bill_to_address"
        placeholder="Select a bill to address..."
        [formControlName]="props.BILL_TO_ADDRESS_ID"
        [data]="billToAddresses$ | async"
        [textField]="billToAddressProps.LINE_1"
        [valueField]="billToAddressProps.ID"
        [valuePrimitive]="true"
        [filterable]="true"
        (filterChange)="handleBillToAddressFilter($event)">
          <kendo-combobox-column field="line1" title="Line 1" [width]="100"></kendo-combobox-column>
          <kendo-combobox-column field="line2" title="Line 2" [width]="100"></kendo-combobox-column>
          <kendo-combobox-column field="city" title="City" [width]="100"></kendo-combobox-column>
          <kendo-combobox-column field="stateProvince" title="State Province" [width]="100"></kendo-combobox-column>
          <kendo-combobox-column field="countryRegion" title="Country Region" [width]="100"></kendo-combobox-column>
          <kendo-combobox-column field="postalCode" title="Postal Code" [width]="100"></kendo-combobox-column>
      </kendo-multicolumncombobox>
    </div>
  </form>
</imng-data-entry-dialog>
