<imng-data-entry-dialog [width]="700" [height]="550" [parentComponent]="this" autoFocusedElement="#name">
  <form novalidate [formGroup]="addEditForm" autocomplete="false" class="row">
    <div class="col-md-6">
      <label for="id" class="control-label">Id:</label>
      <input id="id" type="text" class="form-control" [formControlName]="props.ID"
        [ngClass]="{ 'is-invalid': (submitted$ | async) && formControlErrors(props.ID) }" />
      <div *ngIf="(submitted$ | async) && formControlErrors(props.ID)" class="invalid-feedback">
        <div *ngIf="formControlErrors(props.ID)?.[RequiredError]">Building id is required</div>
      </div>
    </div>
    <div class="col-md-6">
      <label for="name" class="control-label">Name:</label>
      <input id="name" type="text" class="form-control" [formControlName]="props.NAME"
        [ngClass]="{ 'is-invalid': (submitted$ | async) && formControlErrors(props.NAME) }" />
      <div *ngIf="(submitted$ | async) && formControlErrors(props.NAME)" class="invalid-feedback">
        <div *ngIf="formControlErrors(props.NAME)?.[RequiredError]">Building name is required</div>
        <div *ngIf="formControlErrors(props.NAME)?.[MinLengthError]">
          Building name requires a min length of
          {{formMinLengthError(props.NAME)?.requiredLength}}, currently only
          {{formMinLengthError(props.NAME)?.actualLength}}.
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <label for="site_name" class="control-label">Site Name:</label>
      <input id="site_name" type="text" class="form-control" [formControlName]="props.SITE_NAME"
        [ngClass]="{ 'is-invalid': (submitted$ | async) && formControlErrors(props.SITE_NAME) }" />
      <div *ngIf="(submitted$ | async) && formControlErrors(props.SITE_NAME)" class="invalid-feedback">
        <div *ngIf="formControlErrors(props.SITE_NAME)?.[RequiredError]">Building site name is required</div>
        <div *ngIf="formControlErrors(props.SITE_NAME)?.[MinLengthError]">
          Building site name requires a min length of
          {{formMinLengthError(props.SITE_NAME)?.requiredLength}}, currently only
          {{formMinLengthError(props.SITE_NAME)?.actualLength}}.
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <label for="address_line1" class="control-label">Address Line 1:</label>
      <input id="address_line1" type="text" class="form-control" [formControlName]="props.ADDRESS_LINE_1"
        [ngClass]="{ 'is-invalid': (submitted$ | async) && formControlErrors(props.ADDRESS_LINE_1) }" />
      <div *ngIf="(submitted$ | async) && formControlErrors(props.ADDRESS_LINE_1)" class="invalid-feedback">
        <div *ngIf="formControlErrors(props.ADDRESS_LINE_1)?.[RequiredError]">Building address line 1 is required</div>
        <div *ngIf="formControlErrors(props.ADDRESS_LINE_1)?.[MinLengthError]">
          Building address line 1 requires a min length of
          {{formMinLengthError(props.ADDRESS_LINE_1)?.requiredLength}}, currently only
          {{formMinLengthError(props.ADDRESS_LINE_1)?.actualLength}}.
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <label for="address_line2" class="control-label">Address Line 2:</label>
      <input id="address_line2" type="text" class="form-control" [formControlName]="props.ADDRESS_LINE_2" />
    </div>
    <div class="col-md-6">
      <label for="city_or_municipality" class="control-label">City Or Municipality:</label>
      <input id="city_or_municipality" type="text" class="form-control" [formControlName]="props.CITY_OR_MUNICIPALITY"
        [ngClass]="{ 'is-invalid': (submitted$ | async) && formControlErrors(props.CITY_OR_MUNICIPALITY) }" />
      <div *ngIf="(submitted$ | async) && formControlErrors(props.CITY_OR_MUNICIPALITY)" class="invalid-feedback">
        <div *ngIf="formControlErrors(props.CITY_OR_MUNICIPALITY)?.[RequiredError]">Building city or municipality is required</div>
        <div *ngIf="formControlErrors(props.CITY_OR_MUNICIPALITY)?.[MinLengthError]">
          Building city or municipality requires a min length of
          {{formMinLengthError(props.CITY_OR_MUNICIPALITY)?.requiredLength}}, currently only
          {{formMinLengthError(props.CITY_OR_MUNICIPALITY)?.actualLength}}.
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <label for="state_or_providence" class="control-label">State Or Providence:</label>
      <input id="state_or_providence" type="text" class="form-control" [formControlName]="props.STATE_OR_PROVIDENCE"
        [ngClass]="{ 'is-invalid': (submitted$ | async) && formControlErrors(props.STATE_OR_PROVIDENCE) }" />
      <div *ngIf="(submitted$ | async) && formControlErrors(props.STATE_OR_PROVIDENCE)" class="invalid-feedback">
        <div *ngIf="formControlErrors(props.STATE_OR_PROVIDENCE)?.[RequiredError]">Building state or providence is required</div>
        <div *ngIf="formControlErrors(props.STATE_OR_PROVIDENCE)?.[MinLengthError]">
          Building state or providence requires a min length of
          {{formMinLengthError(props.STATE_OR_PROVIDENCE)?.requiredLength}}, currently only
          {{formMinLengthError(props.STATE_OR_PROVIDENCE)?.actualLength}}.
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <label for="postal_code" class="control-label">Postal Code:</label>
      <input id="postal_code" type="text" class="form-control" [formControlName]="props.POSTAL_CODE"
        [ngClass]="{ 'is-invalid': (submitted$ | async) && formControlErrors(props.POSTAL_CODE) }" />
      <div *ngIf="(submitted$ | async) && formControlErrors(props.POSTAL_CODE)" class="invalid-feedback">
        <div *ngIf="formControlErrors(props.POSTAL_CODE)?.[RequiredError]">Building postal code is required</div>
        <div *ngIf="formControlErrors(props.POSTAL_CODE)?.[MinLengthError]">
          Building postal code requires a min length of
          {{formMinLengthError(props.POSTAL_CODE)?.requiredLength}}, currently only
          {{formMinLengthError(props.POSTAL_CODE)?.actualLength}}.
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <label for="country" class="control-label">Country:</label>
      <input id="country" type="text" class="form-control" [formControlName]="props.COUNTRY" />
    </div>
    <div class="col-md-6">
      <label for="gps_data" class="control-label">Gps Data:</label>
      <input id="gps_data" type="text" class="form-control" [formControlName]="props.GPS_DATA" />
    </div>
    <div class="col-md-6">
      <label for="deleted_by" class="control-label">Deleted By:</label>
      <input id="deleted_by" type="text" class="form-control" [formControlName]="props.DELETED_BY" />
    </div>
    <div class="col-md-6">
      <label for="deleted_on_utc" class="control-label">Deleted On Utc:</label>
      <kendo-datepicker id="deleted_on_utc" class="form-control" [formControlName]="props.DELETED_ON_UTC"></kendo-datepicker>
    </div>
  </form>
</imng-data-entry-dialog>
