<imng-data-entry-dialog width="700" height="550" [parentComponent]="this">
  <form novalidate [formGroup]="addEditForm" autocomplete="false">  
    <div class="form-row">
        <div class="form-group col-md-6">
          <label for="id" class="control-label mr-4">Id:</label>
          <input type="text" class="form-control" [formControlName]="props.ID" />
        </div>
        <div class="form-group col-md-6">
          <label for="name" class="control-label mr-4">Name:</label>
          <input type="text" class="form-control" [formControlName]="props.NAME" />
        </div>
        <div class="form-group col-md-6">
          <label for="is_enabled" class="control-label mr-4">Is Enabled:</label>
          <input type="checkbox" [formControlName]="props.IS_ENABLED" />
        </div>
    </div>
  </form>
</imng-data-entry-dialog>
