<imng-data-entry-dialog width="700" height="550" [parentComponent]="this">
  <form novalidate [formGroup]="addEditForm" autocomplete="false">  
    <div class="form-row">
        <div class="form-group col-md-6">
          <label for="id" class="control-label mr-4">Id:</label>
          <input type="text" class="form-control" [formControlName]="props.ID"
            [ngClass]="{ 'is-invalid': (submitted$ | async) && formControlErrors(props.ID) }" />
          <div *ngIf="(submitted$ | async) && formControlErrors(props.ID)" class="invalid-feedback">
            <div *ngIf="formControlErrors(props.ID).required">Customer id is required</div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="name_style" class="control-label mr-4">Name Style:</label>
          <input type="checkbox" [formControlName]="props.NAME_STYLE" />
        </div>
        <div class="form-group col-md-6">
          <label for="title" class="control-label mr-4">Title:</label>
          <input type="text" maxlength="8" class="form-control" [formControlName]="props.TITLE" />
        </div>
        <div class="form-group col-md-6">
          <label for="first_name" class="control-label mr-4">First Name:</label>
          <input type="text" maxlength="50" class="form-control" [formControlName]="props.FIRST_NAME"
            [ngClass]="{ 'is-invalid': (submitted$ | async) && formControlErrors(props.FIRST_NAME) }" />
          <div *ngIf="(submitted$ | async) && formControlErrors(props.FIRST_NAME)" class="invalid-feedback">
            <div *ngIf="formControlErrors(props.FIRST_NAME).required">Customer first name is required</div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="middle_name" class="control-label mr-4">Middle Name:</label>
          <input type="text" maxlength="50" class="form-control" [formControlName]="props.MIDDLE_NAME" />
        </div>
        <div class="form-group col-md-6">
          <label for="last_name" class="control-label mr-4">Last Name:</label>
          <input type="text" maxlength="50" class="form-control" [formControlName]="props.LAST_NAME"
            [ngClass]="{ 'is-invalid': (submitted$ | async) && formControlErrors(props.LAST_NAME) }" />
          <div *ngIf="(submitted$ | async) && formControlErrors(props.LAST_NAME)" class="invalid-feedback">
            <div *ngIf="formControlErrors(props.LAST_NAME).required">Customer last name is required</div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="suffix" class="control-label mr-4">Suffix:</label>
          <input type="text" maxlength="10" class="form-control" [formControlName]="props.SUFFIX" />
        </div>
        <div class="form-group col-md-6">
          <label for="company_name" class="control-label mr-4">Company Name:</label>
          <input type="text" maxlength="128" class="form-control" [formControlName]="props.COMPANY_NAME" />
        </div>
        <div class="form-group col-md-6">
          <label for="sales_person" class="control-label mr-4">Sales Person:</label>
          <input type="text" maxlength="256" class="form-control" [formControlName]="props.SALES_PERSON" />
        </div>
        <div class="form-group col-md-6">
          <label for="email_address" class="control-label mr-4">Email Address:</label>
          <input type="text" maxlength="50" class="form-control" [formControlName]="props.EMAIL_ADDRESS" />
        </div>
        <div class="form-group col-md-6">
          <label for="phone" class="control-label mr-4">Phone:</label>
          <input type="text" maxlength="50" class="form-control" [formControlName]="props.PHONE" />
        </div>
    </div>
  </form>
</imng-data-entry-dialog>
