import { Injectable } from '@angular/core';
import { NrsrxBaseApiClientService } from 'imng-nrsrx-client-utils';
import { HttpClient } from '@angular/common/http';

@Injectable({
  providedIn: 'root',
})
export class <%= classify(name) %>ApiService extends NrsrxBaseApiClientService<I<%= classify(name) %>> {
  public url = env.endPoints.<%= camelize(storeName) %>.<%= camelize(name) %>sApi;
  constructor(http: HttpClient) {
    super(http);
  }
}
