<kendo-grid [height]="375" kendoGridFocusable [imngODataGrid]="this">
  <ng-template kendoGridToolbarTemplate>
    <div class="w-100 d-flex justify-content-between">
      <h6>Order Line Items</h6>
      <imng-kendo-odata-grid-header
        (reloadEntitiesClicked)="reloadEntities()"
        [hasHiddenColumns$]="hasHiddenColumns$">
      </imng-kendo-odata-grid-header>
    </div>
  </ng-template>
  <kendo-grid-column
    [field]="props.ID"
    [width]="100"
    title="Id"
    filter="text"
    [hidden]="true">
    <ng-template kendoGridCellTemplate let-dataItem>
      <imng-kendo-copy
        [displayValue]="
          `${(dataItem[props.ID] | slice: 0 : 4)}.-.${(dataItem[props.ID] | slice: -4)}`
        "
        [copyValue]="dataItem[props.ID]" />
    </ng-template>
    <ng-template kendoGridFilterMenuTemplate let-filter>
      <imng-uuid-filter [filter]="filter" />
    </ng-template>
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6">Id</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    [field]="props.ORDER_ID"
    [width]="100"
    title="Order Id"
    filter="text">
    <ng-template kendoGridCellTemplate let-dataItem>
      <imng-kendo-copy
        [displayValue]="
          `${(dataItem[props.ORDER_ID] | slice: 0 : 4)}.-.${(dataItem[props.ORDER_ID] | slice: -4)}`
        "
        [copyValue]="dataItem[props.ORDER_ID]" />
    </ng-template>
    <ng-template kendoGridFilterMenuTemplate let-filter>
      <imng-uuid-filter [filter]="filter" />
    </ng-template>
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6">Order Id</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    [field]="props.ORDER_QTY"
    [width]="100"
    title="Order Qty"
    filter="numeric">
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6">Order Qty</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    [field]="props.PRODUCT_ID"
    [width]="100"
    title="Product Id"
    filter="text">
    <ng-template kendoGridCellTemplate let-dataItem>
      <imng-kendo-copy
        [displayValue]="
          `${(dataItem[props.PRODUCT_ID] | slice: 0 : 4)}.-.${(dataItem[props.PRODUCT_ID] | slice: -4)}`
        "
        [copyValue]="dataItem[props.PRODUCT_ID]" />
    </ng-template>
    <ng-template kendoGridFilterMenuTemplate let-filter>
      <imng-uuid-filter [filter]="filter" />
    </ng-template>
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6">Product Id</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    [field]="props.UNIT_PRICE"
    [width]="100"
    title="Unit Price"
    filter="numeric">
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6">Unit Price</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    [field]="props.UNIT_PRICE_DISCOUNT"
    [width]="100"
    title="Unit Price Discount"
    filter="numeric">
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6">Unit Price Discount</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    [field]="props.LINE_TOTAL"
    [width]="100"
    title="Line Total"
    filter="numeric">
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6">Line Total</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    [field]="props.ORDER"
    [width]="100"
    title="Order"
    filter="text">
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6">Order</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    [field]="props.PRODUCT"
    [width]="100"
    title="Product"
    filter="text">
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6">Product</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column [width]="25">
    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
      <button
        type="button"
        class="btn btn-sm mr-1"
        (click)="deleteItem(dataItem)"
        placement="left"
        tooltip="Delete">
        <span class="k-icon k-i-delete"></span>
      </button>
    </ng-template>
  </kendo-grid-column>

  <kendo-grid-pdf
    [fileName]="getExportFileName('OrderLineItems')"
    [allPages]="false">
    <kendo-grid-pdf-margin top="1cm" left="1cm" right="1cm" bottom="1cm" />
  </kendo-grid-pdf>
  <kendo-grid-excel
    [fileName]="getExportFileName('OrderLineItems')"
    [fetchData]="excelData" />
</kendo-grid>
