<kendo-grid (detailExpand)="detailExpanded($event)" [height]="800" kendoGridFocusable [imngODataGrid]="this">
  <ng-template kendoGridToolbarTemplate>
    <div class="d-flex justify-content-between">
      <h3>Nurses</h3>
      <div>
        <button type="button" title="Add Employee" primary="true" (click)="addItem()" class="btn btn-primary mx-2">
          <fa-icon [icon]="faPlusCircle"></fa-icon> Add Nurse
        </button>
        <button type="button" title="Export To PDF" kendoGridPDFCommand icon="file-pdf" class="mx-2">
          Export to PDF
        </button>
        <button type="button" title="Export To Excel" kendoGridExcelCommand icon="file-excel" class="mx-2">
          Export To Excel
        </button>
      </div>
    </div>
  </ng-template>

  <kendo-grid-column [field]="props.ID" [width]="100">
    <ng-template kendoGridCellTemplate let-dataItem>
      {{ dataItem.id | slice: 0:5 }}
    </ng-template>
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6">Id</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column [field]="props.PHOTO" [width]="100">
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6">Photo</span>
    </ng-template>
    <ng-template kendoGridCellTemplate let-dataItem>
      <img *ngIf="dataItem[props.PHOTO]" [src]="dataItem[props.PHOTO]" alt="Nurse Picture" />
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column [width]="100">
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6">SubTable</span>
    </ng-template>
    <ng-template kendoGridCellTemplate let-dataItem>
      <imng-kendo-grid-child-column-template [data]="dataItem.subTable" field="id" visibleRecCount="1">
      </imng-kendo-grid-child-column-template>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column [field]="props.LAST_NAME" [width]="100">
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6">Last Name</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column [field]="props.FIRST_NAME" [width]="100">
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6">First Name</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column [width]="250">
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6">Contact</span>
    </ng-template>
    <ng-template kendoGridCellTemplate let-dataItem>
      Email: {{ dataItem[props.EMAIL] }} <br />
      Mobile: {{ dataItem[props.MOBILE_PHONE] }} <br />
      Home: {{ dataItem[props.HOME_PHONE] }}
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column [field]="props.HIRE_DATE" [width]="100" format="{0:MM/dd/yy}" filter="date">
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6">Hired</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column [width]="100" [filterable]="false">
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6">Skillsets</span>
    </ng-template>
    <ng-template kendoGridCellTemplate let-dataItem>
      Cert: {{ dataItem[props.CERTIFICATION_COUNT] || 0 }} <br />
      Comp: {{ dataItem[props.COMPETENCY_COUNT] || 0 }} <br />
      Hlti: {{ dataItem[props.HEALTH_ITEM_COUNT] || 0 }}
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column [width]="75">
    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
      <button type="button" class="btn btn-sm mr-1" (click)="editItem(dataItem)" placement="left" tooltip="Edit">
        <fa-icon [icon]="faEdit"></fa-icon>
      </button>
      <button type="button" class="btn btn-sm mr-1" (click)="deleteItem(dataItem)" placement="left" tooltip="Delete">
        <fa-icon [icon]="faTrash"></fa-icon>
      </button>
    </ng-template>
  </kendo-grid-column>

  <kendo-grid-pdf fileName="Employees.pdf" [allPages]="true">
    <kendo-grid-pdf-margin top="1cm" left="1cm" right="1cm" bottom="1cm"></kendo-grid-pdf-margin>
  </kendo-grid-pdf>
  <kendo-grid-excel fileName="Employees.xlsx" [fetchData]="excelData"></kendo-grid-excel>
</kendo-grid>
<nrcrn-employee-add *ngIf="crudFacade.isNewActive$ | async"></nrcrn-employee-add>
<nrcrn-employee-edit *ngIf="crudFacade.isEditActive$ | async"></nrcrn-employee-edit>
