<kendo-grid
  (detailExpand)="detailExpanded($event)"
  [height]="800"
  kendoGridFocusable
  [imngODataGrid]="this">
  <ng-template kendoGridToolbarTemplate>
    <div class="w-100 d-flex justify-content-between">
      <h3>Employees</h3>
      <imng-kendo-odata-grid-header
        entityName="Employee"
        (addItemClicked)="addItem()"
        (reloadEntitiesClicked)="reloadEntities()"
        (clearFiltersClicked)="resetFilters()"
        [hasHiddenColumns$]="hasHiddenColumns$">
      </imng-kendo-odata-grid-header>
    </div>
  </ng-template>
  <kendo-grid-column [width]="75">
    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
      <kendo-menu title="Actions">
        <kendo-menu-item icon="menu">
          <kendo-menu-item>
            <ng-template kendoMenuItemLinkTemplate>
              <button
                type="button"
                class="btn btn-sm mx-3 my-2 text-start"
                (click)="editItem(dataItem)"
                placement="left"
                tooltip="Edit">
                <span class="k-icon k-i-edit"></span>
                Edit
              </button>
            </ng-template>
          </kendo-menu-item>
          <kendo-menu-item>
            <ng-template kendoMenuItemLinkTemplate>
              <button
                type="button"
                class="btn btn-sm mx-3 my-2 text-start"
                (click)="deleteItem(dataItem)"
                placement="left"
                tooltip="Delete">
                <span class="k-icon k-i-delete"></span>
                Delete
              </button>
            </ng-template>
          </kendo-menu-item>
        </kendo-menu-item>
      </kendo-menu>
    </ng-template>
  </kendo-grid-column>

  <kendo-grid-column [field]="props.ID" [width]="100" title="Id" filter="text">
    <ng-template kendoGridCellTemplate let-dataItem>
      <imng-kendo-copy
        [displayValue]="dataItem[props.ID] | slice: 0:5"
        [copyValue]="dataItem[props.ID]">
      </imng-kendo-copy>
    </ng-template>
    <ng-template kendoGridFilterMenuTemplate let-filter>
      <imng-uuid-filter [filter]="filter"></imng-uuid-filter>
    </ng-template>
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6" title="Id">Id</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    [field]="props.LAST_NAME"
    [width]="100"
    title="Last Name"
    filter="text">
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6" title="Last Name">Last Name</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    [field]="props.FIRST_NAME"
    [width]="100"
    title="First Name"
    filter="text">
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6" title="First Name">First Name</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    [field]="props.BIRTH_DATE"
    [width]="100"
    format="{0:MM/dd/yy}"
    title="Birth Date"
    filter="date">
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6" title="Birth Date">Birth Date</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    [field]="props.MOBILE_PHONE"
    [width]="100"
    title="Mobile Phone"
    [hidden]="true"
    filter="text">
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6" title="Mobile Phone">Mobile Phone</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    [field]="props.HOME_PHONE"
    [width]="100"
    title="Home Phone"
    [hidden]="true"
    filter="text">
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6" title="Home Phone">Home Phone</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    [field]="props.PHOTO"
    [width]="100"
    title="Photo"
    filter="text">
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6" title="Photo">Photo</span>
    </ng-template>
    <ng-template kendoGridCellTemplate let-dataItem>
      <img
        [src]="dataItem[props.PHOTO]"
        alt="Image"
        style="max-width: 50px"
        class="mx-auto" />
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    [field]="props.EMAIL"
    [width]="100"
    title="Email"
    filter="text">
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6" title="Email">Email</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    [field]="props.ADDRESS_LINE_1"
    [width]="100"
    title="Address Line 1"
    [hidden]="true"
    filter="text">
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6" title="Address Line 1">Address Line 1</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    [field]="props.ADDRESS_LINE_2"
    [width]="100"
    title="Address Line 2"
    [hidden]="true"
    filter="text">
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6" title="Address Line 2">Address Line 2</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    [field]="props.CITY"
    [width]="100"
    title="City"
    [hidden]="true"
    filter="text">
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6" title="City">City</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    [field]="props.STATE"
    [width]="100"
    title="State"
    [hidden]="true"
    filter="text">
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6" title="State">State</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    [field]="props.ZIP"
    [width]="100"
    title="Zip"
    [hidden]="true"
    filter="text">
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6" title="Zip">Zip</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    [field]="props.IS_ENABLED"
    [width]="100"
    title="Enabled"
    [hidden]="true"
    filter="boolean">
    <ng-template kendoGridCellTemplate let-dataItem>
      <div *ngIf="dataItem[props.IS_ENABLED]">
        <span class="text-success font-weight-bolder h2" tooltip="Enabled">
          <span class="k-icon k-i-check-circle start-50"></span>
        </span>
      </div>
    </ng-template>
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6" title="Enabled">Enabled</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    [field]="props.HIRE_DATE"
    [width]="100"
    format="{0:MM/dd/yy}"
    title="Hire Date"
    [hidden]="true"
    filter="date">
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6" title="Hire Date">Hire Date</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    [field]="props.FIRE_DATE"
    [width]="100"
    format="{0:MM/dd/yy}"
    title="Fire Date"
    [hidden]="true"
    filter="date">
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6" title="Fire Date">Fire Date</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    [field]="props.TOTAL_HOURS_OF_SERVICE"
    [width]="100"
    title="Service Hours"
    [hidden]="true"
    filter="numeric">
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6" title="Service Hours">Service Hours</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    [field]="props.CERTIFICATION_COUNT"
    [width]="100"
    title="Certifications"
    filter="numeric">
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6" title="Certifications">Certifications</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    [field]="props.COMPETENCY_COUNT"
    [width]="100"
    title="Competencies"
    filter="numeric">
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6" title="Competencies">Competencies</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    [field]="props.HEALTH_ITEM_COUNT"
    [width]="100"
    title="Health Items"
    filter="numeric">
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6" title="Health Items">Health Items</span>
    </ng-template>
  </kendo-grid-column>

  <kendo-grid-pdf
    [fileName]="getExportFileName('Employees')"
    [allPages]="false">
    <kendo-grid-pdf-margin
      top="1cm"
      left="1cm"
      right="1cm"
      bottom="1cm"></kendo-grid-pdf-margin>
  </kendo-grid-pdf>
  <kendo-grid-excel
    [fileName]="getExportFileName('Employees')"
    [fetchData]="excelData"></kendo-grid-excel>
</kendo-grid>
<nrcrn-employee-add
  *ngIf="crudFacade.isNewActive$ | async"></nrcrn-employee-add>
<nrcrn-employee-edit
  *ngIf="crudFacade.isEditActive$ | async"></nrcrn-employee-edit>
