<imng-data-entry-dialog [width]="400" [height]="500" [parentComponent]="this">
  <form novalidate [formGroup]="addEditForm">
    <div class="form-group">
      <label [for]="props.CERTIFICATION_NAME" class="control-label mr-4">Certification:</label>
      <select class="form-control" [formControlName]="props.CERTIFICATION_NAME"
        [ngClass]="{ 'is-invalid': (submitted | async) && formControlErrors(props.CERTIFICATION_NAME) }">
        <option [ngValue]="null">-- Select One --</option>
        <option *ngFor="let item of certification$ | async" [ngValue]="item.id">{{item.name}}
        </option>
      </select>
      <div *ngIf="(submitted | async) && formControlErrors(props.CERTIFICATION_NAME)" class="invalid-feedback">
        <div *ngIf="formControlErrors(props.CERTIFICATION_NAME).required">Certification is required</div>
      </div>
    </div>
  </form>
</imng-data-entry-dialog>
