<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-primary">
  <a class="navbar-brand" title="MasterCorp Management Console" [routerLink]="['../../']"> Adventure Works </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
    (click)="toggleCollapsed()"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse"
    id="navbarSupportedContent"
    [ngClass]="{ collapse: collapsed, 'navbar-collapse': true }"
  >
    <ul class="navbar-nav ml-auto" *ngIf="loggedIn$ | async">
      <li class="nav-item mt-1" [ngClass]="{ active: router.url.startsWith('/customers') }">
        <a class="nav-link" [routerLink]="['/customers']">Customers</a>
      </li>
      <li class="nav-item mt-1" [ngClass]="{ active: router.url.startsWith('/products') }">
        <a class="nav-link" [routerLink]="['/products']">Products</a>
      </li>
      <li class="nav-item mt-1" [ngClass]="{ active: router.url.startsWith('/sale-orders') }">
        <a class="nav-link" [routerLink]="['/sale-orders']">Sale Orders</a>
      </li>
      <li dropdown class="nav-item dropdown ml-4 bg-dark text-white rounded">
        <a
          dropdownToggle
          class="nav-link dropdown-toggle text-right px-2"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <img [src]="profilePicture$ | async" alt="Profile Pic" class="pic mr-1" />
          {{ email$ | async }}
        </a>
        <div *dropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item border-top" [routerLink]="['/oidc/support']">Support</a>
          <a class="dropdown-item" (click)="signoutRedirect()">Logout</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="(identity$ | async) === null">
      <li class="nav-item"><a class="nav-link" (click)="signinRedirect()">Login</a></li>
    </ul>
  </div>
</nav>
