<p-table
  #dt1
  [imngODataTable]="this"
  responsiveLayout="scroll"
  [globalFilterFields]="[props.NUM, props.PURCHASE_ORDER_NUM]">
  <ng-template pTemplate="caption">
    <imng-prime-search-caption [dataTable]="dt1" />
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th [pSortableColumn]="props.NUM" [id]="props.NUM" pResizableColumn>
        Num
        <p-sortIcon [field]="props.NUM"></p-sortIcon>
        <p-columnFilter
          type="text"
          [field]="props.NUM"
          display="menu"></p-columnFilter>
      </th>
      <th
        [pSortableColumn]="props.ORDER_ID"
        [id]="props.ORDER_ID"
        pResizableColumn>
        Order Id
        <p-sortIcon [field]="props.ORDER_ID"></p-sortIcon>
        <p-columnFilter
          type="numeric"
          [field]="props.ORDER_ID"
          display="menu"></p-columnFilter>
      </th>
      <th [pSortableColumn]="props.DATE" [id]="props.DATE" pResizableColumn>
        Date
        <p-sortIcon [field]="props.DATE"></p-sortIcon>
        <p-columnFilter
          type="date"
          [field]="props.DATE"
          display="menu"></p-columnFilter>
      </th>
      <th
        [pSortableColumn]="props.SHIP_DATE"
        [id]="props.SHIP_DATE"
        pResizableColumn>
        Ship Date<p-sortIcon [field]="props.SHIP_DATE"></p-sortIcon>
        <p-columnFilter
          type="date"
          [field]="props.SHIP_DATE"
          display="menu"></p-columnFilter>
      </th>
      <th
        [pSortableColumn]="props.PURCHASE_ORDER_NUM"
        [id]="props.PURCHASE_ORDER_NUM"
        pResizableColumn>
        Purchase Order #<p-sortIcon
          [field]="props.PURCHASE_ORDER_NUM"></p-sortIcon>
        <p-columnFilter
          type="text"
          [field]="props.PURCHASE_ORDER_NUM"
          display="menu"></p-columnFilter>
      </th>
      <th
        [pSortableColumn]="props.STATUS_TYPE"
        [id]="props.STATUS_TYPE"
        pResizableColumn>
        Status<p-sortIcon [field]="props.STATUS_TYPE"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-dataItem>
    <tr>
      <td>{{ dataItem[props.NUM] }}</td>
      <td>{{ dataItem[props.ORDER_ID] }}</td>
      <td>{{ dataItem[props.DATE] | date }}</td>
      <td>{{ dataItem[props.SHIP_DATE] | date }}</td>
      <td>{{ dataItem[props.PURCHASE_ORDER_NUM] }}</td>
      <td>{{ dataItem[props.STATUS_TYPE] }}</td>
    </tr>
  </ng-template>
</p-table>
