<imng-data-entry-dialog width="700" height="550" [parentComponent]="this">
  <form novalidate [formGroup]="addEditForm" autocomplete="false">  
    <div class="form-row">
        <div class="form-group col-md-6">
          <label for="id" class="control-label mr-4">Id:</label>
          <input type="text" class="form-control" [formControlName]="props.ID"
            [ngClass]="{ 'is-invalid': (submitted$ | async) && formControlErrors(props.ID) }" />
          <div *ngIf="(submitted$ | async) && formControlErrors(props.ID)" class="invalid-feedback">
            <div *ngIf="formControlErrors(props.ID).required">Employee Id is required</div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="last_name" class="control-label mr-4">Last_name:</label>
          <input type="text" class="form-control" [formControlName]="props.LAST_NAME"
            [ngClass]="{ 'is-invalid': (submitted$ | async) && formControlErrors(props.LAST_NAME) }" />
          <div *ngIf="(submitted$ | async) && formControlErrors(props.LAST_NAME)" class="invalid-feedback">
            <div *ngIf="formControlErrors(props.LAST_NAME).required">Employee Last_name is required</div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="first_name" class="control-label mr-4">First_name:</label>
          <input type="text" class="form-control" [formControlName]="props.FIRST_NAME"
            [ngClass]="{ 'is-invalid': (submitted$ | async) && formControlErrors(props.FIRST_NAME) }" />
          <div *ngIf="(submitted$ | async) && formControlErrors(props.FIRST_NAME)" class="invalid-feedback">
            <div *ngIf="formControlErrors(props.FIRST_NAME).required">Employee First_name is required</div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="birth_date" class="control-label mr-4">Birth_date:</label>
          <input type="date" class="form-control" [formControlName]="props.BIRTH_DATE" />
        </div>
        <div class="form-group col-md-6">
          <label for="mobile_phone" class="control-label mr-4">Mobile_phone:</label>
          <input type="text" class="form-control" [formControlName]="props.MOBILE_PHONE" />
        </div>
        <div class="form-group col-md-6">
          <label for="home_phone" class="control-label mr-4">Home_phone:</label>
          <input type="text" class="form-control" [formControlName]="props.HOME_PHONE" />
        </div>
        <div class="form-group col-md-6">
          <label for="photo" class="control-label mr-4">Photo:</label>
          <input type="text" class="form-control" [formControlName]="props.PHOTO" />
        </div>
        <div class="form-group col-md-6">
          <label for="email" class="control-label mr-4">Email:</label>
          <input type="text" class="form-control" [formControlName]="props.EMAIL"
            [ngClass]="{ 'is-invalid': (submitted$ | async) && formControlErrors(props.EMAIL) }" />
          <div *ngIf="(submitted$ | async) && formControlErrors(props.EMAIL)" class="invalid-feedback">
            <div *ngIf="formControlErrors(props.EMAIL).required">Employee Email is required</div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="address_line1" class="control-label mr-4">Address_line1:</label>
          <input type="text" class="form-control" [formControlName]="props.ADDRESS_LINE_1" />
        </div>
        <div class="form-group col-md-6">
          <label for="address_line2" class="control-label mr-4">Address_line2:</label>
          <input type="text" class="form-control" [formControlName]="props.ADDRESS_LINE_2" />
        </div>
        <div class="form-group col-md-6">
          <label for="city" class="control-label mr-4">City:</label>
          <input type="text" class="form-control" [formControlName]="props.CITY" />
        </div>
        <div class="form-group col-md-6">
          <label for="state" class="control-label mr-4">State:</label>
          <input type="text" class="form-control" [formControlName]="props.STATE" />
        </div>
        <div class="form-group col-md-6">
          <label for="zip" class="control-label mr-4">Zip:</label>
          <input type="text" class="form-control" [formControlName]="props.ZIP" />
        </div>
        <div class="form-group col-md-6">
          <label for="is_enabled" class="control-label mr-4">Is_enabled:</label>
          <input type="checkbox" class="form-control" [formControlName]="props.IS_ENABLED"
            [ngClass]="{ 'is-invalid': (submitted$ | async) && formControlErrors(props.IS_ENABLED) }" />
          <div *ngIf="(submitted$ | async) && formControlErrors(props.IS_ENABLED)" class="invalid-feedback">
            <div *ngIf="formControlErrors(props.IS_ENABLED).required">Employee Is_enabled is required</div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="hire_date" class="control-label mr-4">Hire_date:</label>
          <input type="date" class="form-control" [formControlName]="props.HIRE_DATE"
            [ngClass]="{ 'is-invalid': (submitted$ | async) && formControlErrors(props.HIRE_DATE) }" />
          <div *ngIf="(submitted$ | async) && formControlErrors(props.HIRE_DATE)" class="invalid-feedback">
            <div *ngIf="formControlErrors(props.HIRE_DATE).required">Employee Hire_date is required</div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="fire_date" class="control-label mr-4">Fire_date:</label>
          <input type="date" class="form-control" [formControlName]="props.FIRE_DATE" />
        </div>
        <div class="form-group col-md-6">
          <label for="total_hours_of_service" class="control-label mr-4">Total_hours_of_service:</label>
          <input type="number" class="form-control" [formControlName]="props.TOTAL_HOURS_OF_SERVICE" />
        </div>
        <div class="form-group col-md-6">
          <label for="certification_count" class="control-label mr-4">Certification_count:</label>
          <input type="number" class="form-control" [formControlName]="props.CERTIFICATION_COUNT"
            [ngClass]="{ 'is-invalid': (submitted$ | async) && formControlErrors(props.CERTIFICATION_COUNT) }" />
          <div *ngIf="(submitted$ | async) && formControlErrors(props.CERTIFICATION_COUNT)" class="invalid-feedback">
            <div *ngIf="formControlErrors(props.CERTIFICATION_COUNT).required">Employee Certification_count is required</div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="competency_count" class="control-label mr-4">Competency_count:</label>
          <input type="number" class="form-control" [formControlName]="props.COMPETENCY_COUNT"
            [ngClass]="{ 'is-invalid': (submitted$ | async) && formControlErrors(props.COMPETENCY_COUNT) }" />
          <div *ngIf="(submitted$ | async) && formControlErrors(props.COMPETENCY_COUNT)" class="invalid-feedback">
            <div *ngIf="formControlErrors(props.COMPETENCY_COUNT).required">Employee Competency_count is required</div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="health_item_count" class="control-label mr-4">Health_item_count:</label>
          <input type="number" class="form-control" [formControlName]="props.HEALTH_ITEM_COUNT"
            [ngClass]="{ 'is-invalid': (submitted$ | async) && formControlErrors(props.HEALTH_ITEM_COUNT) }" />
          <div *ngIf="(submitted$ | async) && formControlErrors(props.HEALTH_ITEM_COUNT)" class="invalid-feedback">
            <div *ngIf="formControlErrors(props.HEALTH_ITEM_COUNT).required">Employee Health_item_count is required</div>
          </div>
        </div>
    </div>
  </form>
</imng-data-entry-dialog>
