<imng-data-entry-dialog id="dataEntryEmployees" name="dataEntryEmployees" [width]="700" [height]="550" [parentComponent]="this" autoFocusedElement="#last_name">
  <form id="imng-form" novalidate [formGroup]="addEditForm" autocomplete="false" class="row needs-validation">
    <div class="col-md-6">
      <label for="id" class="control-label">Id:</label>
      <input id="id" type="text" class="form-control" [formControlName]="props.ID" />
      @if ((submitted$ | async) && formControlErrors(props.ID)) {
        <div class="invalid-feedback d-block">
          @if (formControlErrors(props.ID)?.[RequiredError]) {
            <div>Employee id is required</div>
          }
        </div>
      }
    </div>
    <div class="col-md-6">
      <label for="last_name" class="control-label">Last Name:</label>
      <input id="last_name" type="text" class="form-control" [formControlName]="props.LAST_NAME" />
      @if ((submitted$ | async) && formControlErrors(props.LAST_NAME)) {
        <div class="invalid-feedback d-block">
          @if (formControlErrors(props.LAST_NAME)?.[RequiredError]) {
            <div>Employee last name is required</div>
          }
        </div>
      }
    </div>
    <div class="col-md-6">
      <label for="first_name" class="control-label">First Name:</label>
      <input id="first_name" type="text" class="form-control" [formControlName]="props.FIRST_NAME" />
      @if ((submitted$ | async) && formControlErrors(props.FIRST_NAME)) {
        <div class="invalid-feedback d-block">
          @if (formControlErrors(props.FIRST_NAME)?.[RequiredError]) {
            <div>Employee first name is required</div>
          }
        </div>
      }
    </div>
    <div class="col-md-6">
      <label for="birth_date" class="control-label">Birth Date:</label>
      <kendo-datepicker id="birth_date" class="form-control" [formControlName]="props.BIRTH_DATE"></kendo-datepicker>
    </div>
    <div class="col-md-6">
      <label for="mobile_phone" class="control-label">Mobile Phone:</label>
      <input id="mobile_phone" type="text" class="form-control" [formControlName]="props.MOBILE_PHONE" />
    </div>
    <div class="col-md-6">
      <label for="home_phone" class="control-label">Home Phone:</label>
      <input id="home_phone" type="text" class="form-control" [formControlName]="props.HOME_PHONE" />
    </div>
    <div class="col-md-6">
      <label for="photo" class="control-label">Photo:</label>
      <input id="photo" type="text" class="form-control" [formControlName]="props.PHOTO" />
    </div>
    <div class="col-md-6">
      <label for="email" class="control-label">Email:</label>
      <input id="email" type="text" class="form-control" [formControlName]="props.EMAIL" />
      @if ((submitted$ | async) && formControlErrors(props.EMAIL)) {
        <div class="invalid-feedback d-block">
          @if (formControlErrors(props.EMAIL)?.[RequiredError]) {
            <div>Employee email is required</div>
          }
        </div>
      }
    </div>
    <div class="col-md-6">
      <label for="address_line1" class="control-label">Address Line 1:</label>
      <input id="address_line1" type="text" class="form-control" [formControlName]="props.ADDRESS_LINE_1" />
    </div>
    <div class="col-md-6">
      <label for="address_line2" class="control-label">Address Line 2:</label>
      <input id="address_line2" type="text" class="form-control" [formControlName]="props.ADDRESS_LINE_2" />
    </div>
    <div class="col-md-6">
      <label for="city" class="control-label">City:</label>
      <input id="city" type="text" class="form-control" [formControlName]="props.CITY" />
    </div>
    <div class="col-md-6">
      <label for="state" class="control-label">State:</label>
      <input id="state" type="text" class="form-control" [formControlName]="props.STATE" />
    </div>
    <div class="col-md-6">
      <label for="zip" class="control-label">Zip:</label>
      <input id="zip" type="text" class="form-control" [formControlName]="props.ZIP" />
    </div>
    <div class="col-md-6">
      <label for="is_enabled" class="control-label me-4 mt-4">Is Enabled:</label>
      <input id="is_enabled" type="checkbox" [formControlName]="props.IS_ENABLED" />
    </div>
    <div class="col-md-6">
      <label for="hire_date" class="control-label">Hire Date:</label>
      <kendo-datepicker id="hire_date" class="form-control" [formControlName]="props.HIRE_DATE">
      </kendo-datepicker>
      @if ((submitted$ | async) && formControlErrors(props.HIRE_DATE)) {
        <div class="invalid-feedback d-block">
          @if (formControlErrors(props.HIRE_DATE)?.[RequiredError]) {
            <div>Employee hire date is required</div>
          }
        </div>
      }
    </div>
    <div class="col-md-6">
      <label for="fire_date" class="control-label">Fire Date:</label>
      <kendo-datepicker id="fire_date" class="form-control" [formControlName]="props.FIRE_DATE"></kendo-datepicker>
    </div>
    <div class="col-md-6">
      <label for="total_hours_of_service" class="control-label">Total Hours Of Service:</label>
      <input id="total_hours_of_service" type="number" class="form-control" [formControlName]="props.TOTAL_HOURS_OF_SERVICE" />
    </div>
    <div class="col-md-6">
      <label for="certification_count" class="control-label">Certification Count:</label>
      <input id="certification_count" type="number" class="form-control" [formControlName]="props.CERTIFICATION_COUNT" />
      @if ((submitted$ | async) && formControlErrors(props.CERTIFICATION_COUNT)) {
        <div class="invalid-feedback d-block">
          @if (formControlErrors(props.CERTIFICATION_COUNT)?.[RequiredError]) {
            <div>Employee certification count is required</div>
          }
        </div>
      }
    </div>
    <div class="col-md-6">
      <label for="competency_count" class="control-label">Competency Count:</label>
      <input id="competency_count" type="number" class="form-control" [formControlName]="props.COMPETENCY_COUNT" />
      @if ((submitted$ | async) && formControlErrors(props.COMPETENCY_COUNT)) {
        <div class="invalid-feedback d-block">
          @if (formControlErrors(props.COMPETENCY_COUNT)?.[RequiredError]) {
            <div>Employee competency count is required</div>
          }
        </div>
      }
    </div>
    <div class="col-md-6">
      <label for="health_item_count" class="control-label">Health Item Count:</label>
      <input id="health_item_count" type="number" class="form-control" [formControlName]="props.HEALTH_ITEM_COUNT" />
      @if ((submitted$ | async) && formControlErrors(props.HEALTH_ITEM_COUNT)) {
        <div class="invalid-feedback d-block">
          @if (formControlErrors(props.HEALTH_ITEM_COUNT)?.[RequiredError]) {
            <div>Employee health item count is required</div>
          }
        </div>
      }
    </div>
  </form>
</imng-data-entry-dialog>
