<kendo-grid
  (detailExpand)="detailExpanded($event)"
  [height]="800"
  kendoGridFocusable
  [imngODataGrid]="this">
  <ng-template kendoGridToolbarTemplate>
    <div class="w-100 d-flex justify-content-between">
      <h3>Orders</h3>
      <imng-kendo-odata-grid-header
        entityName="Order"
        (addItemClicked)="addItem()"
        (reloadEntitiesClicked)="reloadEntities()"
        (clearFiltersClicked)="resetFilters()"
        [hasHiddenColumns$]="hasHiddenColumns$">
      </imng-kendo-odata-grid-header>
    </div>
  </ng-template>
  <kendo-grid-column [width]="75">
    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
      <kendo-menu title="Actions">
        <kendo-menu-item [svgIcon]="icons.menuIcon">
          <kendo-menu-item>
            <ng-template kendoMenuItemLinkTemplate>
              <button
                type="button"
                class="btn btn-sm mx-3 my-2 text-start"
                (click)="editItem(dataItem)"
                placement="left"
                tooltip="Edit">
                <span class="k-icon k-i-edit"></span>
                Edit
              </button>
            </ng-template>
          </kendo-menu-item>
          <kendo-menu-item>
            <ng-template kendoMenuItemLinkTemplate>
              <button
                type="button"
                class="btn btn-sm mx-3 my-2 text-start"
                (click)="deleteItem(dataItem)"
                placement="left"
                tooltip="Delete">
                <span class="k-icon k-i-delete"></span>
                Delete
              </button>
            </ng-template>
          </kendo-menu-item>
        </kendo-menu-item>
      </kendo-menu>
    </ng-template>
  </kendo-grid-column>

  <kendo-grid-column
    [field]="props.ID"
    [width]="100"
    title="Id"
    [hidden]="true">
    <ng-template kendoGridCellTemplate let-dataItem>
      <imng-kendo-copy
        [displayValue]="dataItem[props.ID] | slice: 0 : 5"
      [copyValue]="dataItem[props.ID]"></imng-kendo-copy>
    </ng-template>
    <ng-template kendoGridFilterMenuTemplate let-filter>
      <imng-uuid-filter [filter]="filter"></imng-uuid-filter>
    </ng-template>
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6">Id</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    [field]="props.ORDER_ID"
    [width]="100"
    title="Order Id"
    filter="numeric">
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6">Order<br />Id</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    [field]="props.REVISION_NUM"
    [width]="100"
    title="Revision Num"
    filter="numeric">
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6" title="Revision Num">Rev.<br />Num</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    [field]="props.DATE"
    [width]="100"
    format="{0:MM/dd/yy}"
    title="Date"
    filter="date">
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6">Date</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    [field]="props.DUE_DATE"
    [width]="100"
    format="{0:MM/dd/yy}"
    title="Due Date"
    filter="date">
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6">Due<br />Date</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    [field]="props.SHIP_DATE"
    [width]="100"
    format="{0:MM/dd/yy}"
    title="Ship Date"
    filter="date">
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6">Ship<br />Date</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    [field]="props.STATUS_TYPE"
    [width]="100"
    title="Status Type"
    filter="text">
    <ng-template kendoGridFilterMenuTemplate let-column="column">
      <imng-multi-select-filter
        [isPrimitive]="false"
        [odataState]="facade.gridODataState$ | async"
        [textField]="EnumProperties.DISPLAY_TEXT"
        [valueField]="EnumProperties.NAME"
        [data]="orderStatusTypes"
      [field]="props.STATUS_TYPE"></imng-multi-select-filter>
    </ng-template>
    <ng-template kendoGridCellTemplate let-dataItem>
      {{ getEnumText(orderStatusTypes, dataItem[props.STATUS_TYPE]) }}
    </ng-template>
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6">Status Type</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    [field]="props.IS_ONLINE_ORDER"
    [width]="100"
    title="Is Online Order"
    filter="boolean">
    <ng-template kendoGridCellTemplate let-dataItem>
      @if (dataItem.is_online_order) {
        <div>
          <span
            class="text-success font-weight-bolder h2"
            placement="left"
            tooltip="Active">
            <span class="k-icon k-i-check-circle"></span>
          </span>
        </div>
      }
    </ng-template>
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6">Is Online<br />Order</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    [field]="props.NUM"
    [width]="100"
    title="Num"
    filter="text">
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6">Num</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    [field]="props.PURCHASE_ORDER_NUM"
    [width]="100"
    title="Purchase Order Num"
    filter="text">
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6">Purchase<br />Order<br />Num</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    [field]="props.SHIPPING_TYPE"
    [width]="100"
    title="Shipping Type"
    filter="text">
    <ng-template kendoGridFilterMenuTemplate let-column="column">
      <imng-multi-select-filter
        [isPrimitive]="false"
        [odataState]="facade.gridODataState$ | async"
        [textField]="EnumProperties.DISPLAY_TEXT"
        [valueField]="EnumProperties.NAME"
        [data]="shippingTypes"
      [field]="props.SHIPPING_TYPE"></imng-multi-select-filter>
    </ng-template>
    <ng-template kendoGridCellTemplate let-dataItem>
      {{ getEnumText(shippingTypes, dataItem[props.SHIPPING_TYPE]) }}
    </ng-template>
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6">Shipping Type</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    [field]="props.CREDIT_CARD_APPROVAL_CODE"
    [width]="100"
    title="Credit Card Approval Code"
    filter="text"
    [hidden]="true">
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6">Credit Card<br />Approval Code</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    [field]="props.SUB_TOTAL"
    [width]="100"
    title="Sub Total"
    filter="numeric"
    format="{0:c}"
    [hidden]="true">
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6">Sub<br />Total</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    [field]="props.TAX_AMT"
    [width]="100"
    title="Tax Amt"
    filter="numeric"
    format="{0:c}"
    [hidden]="true">
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6">Tax<br />Amt</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    [field]="props.FREIGHT"
    [width]="100"
    title="Freight"
    filter="numeric"
    format="{0:c}"
    [hidden]="true">
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6">Freight</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    [field]="props.TOTAL_DUE"
    [width]="100"
    title="Total Due"
    filter="numeric"
    format="{0:c}">
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6">Total<br />Due</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    [field]="props.COMMENT"
    [width]="100"
    title="Comment"
    filter="text"
    [hidden]="true">
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6">Comment</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    [field]="props.CUSTOMER"
    [width]="200"
    title="Customer"
    filter="text"
    [hidden]="true">
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6">Customer</span>
    </ng-template>
    <ng-template kendoGridCellTemplate let-dataItem>
      <div class="row">
        <div class="col-xs-4 h6">Name:</div>
        <div class="col-xs-8">{{ dataItem.customer.name }}</div>
      </div>
      <div class="row">
        <div class="col-xs-4 h6">Company Name:</div>
        <div class="col-xs-8">{{ dataItem.customer.companyName }}</div>
      </div>
    </ng-template>
  </kendo-grid-column>
  <div *kendoGridDetailTemplate="let dataItem">
    <aw-order-line-item-list
    [parentGridId]="dataItem[props.ID]"></aw-order-line-item-list>
  </div>
  <kendo-grid-pdf [fileName]="getExportFileName('Orders')" [allPages]="false">
    <kendo-grid-pdf-margin
      top="1cm"
      left="1cm"
      right="1cm"
    bottom="1cm"></kendo-grid-pdf-margin>
  </kendo-grid-pdf>
  <kendo-grid-excel
    [fileName]="getExportFileName('Orders')"
  [fetchData]="excelData"></kendo-grid-excel>
</kendo-grid>
@if (crudFacade.isNewActive$ | async) {
  <aw-order-add></aw-order-add>
}
@if (crudFacade.isEditActive$ | async) {
  <aw-order-edit></aw-order-edit>
}
