<kendo-grid (detailExpand)="detailExpanded($event)" [height]="800" kendoGridFocusable [imngODataGrid]="this">
  <ng-template kendoGridToolbarTemplate>
    <div class="d-flex w-100 justify-content-between">
      <h3>Units</h3>
      <imng-kendo-odata-grid-header
        entityName="Unit"
        (addItemClicked)="addItem()"
        (reloadEntitiesClicked)="reloadEntities()"
        (clearFiltersClicked)="resetFilters()"
      >
      </imng-kendo-odata-grid-header>
    </div>
  </ng-template>

  <kendo-grid-column [field]="props.ID" [width]="100">
    <ng-template kendoGridCellTemplate let-dataItem>
      {{ dataItem.id | slice: 0:5 }}
    </ng-template>
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6">Id</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column [field]="props.BUILDING_ID" [width]="100">
    <ng-template kendoGridCellTemplate let-dataItem>
      {{ dataItem.building_id | slice: 0:5 }}
    </ng-template>
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6">Building Id</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column [field]="props.NAME" [width]="100">
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6">Name</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column [field]="props.ROOM_COUNT" [width]="100">
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6">Room Count</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column [field]="props.DELETED_BY" [width]="100">
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6">Deleted By</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column [field]="props.DELETED_ON_UTC" [width]="100" format="{0:MM/dd/yy}">
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6">Deleted On Utc</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column [field]="props.BUILDING" [width]="100">
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6">Building</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column [width]="50">
    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
      <button type="button" class="btn btn-sm mr-1" (click)="editItem(dataItem)" placement="left" tooltip="Edit">
        <fa-icon [icon]="faEdit"></fa-icon>
      </button>
      <button type="button" class="btn btn-sm mr-1" (click)="deleteItem(dataItem)" placement="left" tooltip="Delete">
        <fa-icon [icon]="faTrash"></fa-icon>
      </button>
    </ng-template>
  </kendo-grid-column>

  <kendo-grid-pdf fileName="Units.pdf" [allPages]="true">
    <kendo-grid-pdf-margin top="1cm" left="1cm" right="1cm" bottom="1cm"></kendo-grid-pdf-margin>
  </kendo-grid-pdf>
  <kendo-grid-excel fileName="Units.xlsx" [fetchData]="excelData"></kendo-grid-excel>
</kendo-grid>
<nrcrn-unit-add *ngIf="crudFacade.isNewActive$ | async"></nrcrn-unit-add>
<nrcrn-unit-edit *ngIf="crudFacade.isEditActive$ | async"></nrcrn-unit-edit>
