<kendo-grid
  (detailExpand)="detailExpanded($event)"
  [height]="800"
  kendoGridFocusable
  [imngODataGrid]="this">
  <ng-template kendoGridToolbarTemplate>
    <div class="w-100 d-flex justify-content-between">
      <h3>Units</h3>
      <imng-kendo-odata-grid-header
        entityName="Unit"
        (addItemClicked)="addItem()"
        (reloadEntitiesClicked)="reloadEntities()"
        (clearFiltersClicked)="resetFilters()"
        [hasHiddenColumns$]="hasHiddenColumns$">
      </imng-kendo-odata-grid-header>
    </div>
  </ng-template>
  <kendo-grid-column [width]="75">
    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
      <kendo-menu title="Actions">
        <kendo-menu-item [svgIcon]="icons.menuIcon">
          <kendo-menu-item>
            <ng-template kendoMenuItemLinkTemplate>
              <button
                type="button"
                class="btn btn-sm mx-3 my-2 text-start"
                (click)="editItem(dataItem)"
                placement="left"
                tooltip="Edit">
                <span class="k-icon k-i-edit"></span>
                Edit
              </button>
            </ng-template>
          </kendo-menu-item>
          <kendo-menu-item>
            <ng-template kendoMenuItemLinkTemplate>
              <button
                type="button"
                class="btn btn-sm mx-3 my-2 text-start"
                (click)="deleteItem(dataItem)"
                placement="left"
                tooltip="Delete">
                <span class="k-icon k-i-delete"></span>
                Delete
              </button>
            </ng-template>
          </kendo-menu-item>
        </kendo-menu-item>
      </kendo-menu>
    </ng-template>
  </kendo-grid-column>

  <kendo-grid-column [field]="props.ID" [width]="100" title="Id" filter="text">
    <ng-template kendoGridCellTemplate let-dataItem>
      <imng-kendo-copy
        [displayValue]="dataItem[props.ID] | slice: 0 : 5"
        [copyValue]="dataItem[props.ID]">
      </imng-kendo-copy>
    </ng-template>
    <ng-template kendoGridFilterMenuTemplate let-filter>
      <imng-uuid-filter [filter]="filter"></imng-uuid-filter>
    </ng-template>
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6" title="Id">Id</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    [field]="props.BUILDING_ID"
    [width]="100"
    title="Building Id"
    filter="text">
    <ng-template kendoGridCellTemplate let-dataItem>
      <imng-kendo-copy
        [displayValue]="dataItem[props.BUILDING_ID] | slice: 0 : 5"
        [copyValue]="dataItem[props.BUILDING_ID]">
      </imng-kendo-copy>
    </ng-template>
    <ng-template kendoGridFilterMenuTemplate let-filter>
      <imng-uuid-filter [filter]="filter"></imng-uuid-filter>
    </ng-template>
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6" title="Building Id">Building Id</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    [field]="props.NAME"
    [width]="100"
    title="Name"
    filter="text">
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6" title="Name">Name</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    [field]="props.ROOM_COUNT"
    [width]="100"
    title="Room Count"
    filter="numeric">
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6" title="Room Count">Room Count</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    [field]="props.DELETED_BY"
    [width]="100"
    title="Deleted By"
    filter="text">
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6" title="Deleted By">Deleted By</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    [field]="props.DELETED_ON_UTC"
    [width]="100"
    format="{0:MM/dd/yy hh:mm}"
    title="Deleted On Utc"
    filter="date">
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6" title="Deleted On Utc">Deleted On Utc</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    [field]="getRelatedField(props.BUILDING, buildingProps.NAME)"
    [width]="100"
    title="Building"
    filter="text">
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6" title="Building">Building</span>
    </ng-template>
  </kendo-grid-column>

  <kendo-grid-pdf [fileName]="getExportFileName('Units')" [allPages]="false">
    <kendo-grid-pdf-margin
      top="1cm"
      left="1cm"
      right="1cm"
    bottom="1cm"></kendo-grid-pdf-margin>
  </kendo-grid-pdf>
  <kendo-grid-excel
    [fileName]="getExportFileName('Units')"
  [fetchData]="excelData"></kendo-grid-excel>
</kendo-grid>
@if (crudFacade.isNewActive$ | async) {
  <nrcrn-unit-add></nrcrn-unit-add>
}
@if (crudFacade.isEditActive$ | async) {
  <nrcrn-unit-edit></nrcrn-unit-edit>
}
