import { createAction } from '@ngrx/store';
import { ODataResult, ODataState } from 'imng-kendo-odata';
import { createPayloadAction } from 'imng-ngrx-utils';

export const <%= camelize(pluralizedName) %>Failure = createPayloadAction<{ error: any }>('[<%= classify(pluralizedName) %>] <%= classify(pluralizedName) %> Failure'); //NOSONAR
