<imng-data-entry-dialog width="700" height="550" [parentComponent]="this">
  <form novalidate [formGroup]="addEditForm" autocomplete="false">  
    <div class="form-row">
        <div class="form-group col-md-6">
          <label for="id" class="control-label mr-4">Id:</label>
          <input type="text" class="form-control" [formControlName]="props.ID"
            [ngClass]="{ 'is-invalid': (submitted$ | async) && formControlErrors(props.ID) }" />
          <div *ngIf="(submitted$ | async) && formControlErrors(props.ID)" class="invalid-feedback">
            <div *ngIf="formControlErrors(props.ID).required">Sale_order id is required</div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="sales_order_id" class="control-label mr-4">Sales Order Id:</label>
          <input type="number" class="form-control" [formControlName]="props.SALES_ORDER_ID"
            [ngClass]="{ 'is-invalid': (submitted$ | async) && formControlErrors(props.SALES_ORDER_ID) }" />
          <div *ngIf="(submitted$ | async) && formControlErrors(props.SALES_ORDER_ID)" class="invalid-feedback">
            <div *ngIf="formControlErrors(props.SALES_ORDER_ID).required">Sale_order sales order id is required</div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="revision_num" class="control-label mr-4">Revision Num:</label>
          <input type="number" class="form-control" [formControlName]="props.REVISION_NUM"
            [ngClass]="{ 'is-invalid': (submitted$ | async) && formControlErrors(props.REVISION_NUM) }" />
          <div *ngIf="(submitted$ | async) && formControlErrors(props.REVISION_NUM)" class="invalid-feedback">
            <div *ngIf="formControlErrors(props.REVISION_NUM).required">Sale_order revision num is required</div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="date" class="control-label mr-4">Date:</label>
          <input type="date" class="form-control" [formControlName]="props.DATE"
            [ngClass]="{ 'is-invalid': (submitted$ | async) && formControlErrors(props.DATE) }" />
          <div *ngIf="(submitted$ | async) && formControlErrors(props.DATE)" class="invalid-feedback">
            <div *ngIf="formControlErrors(props.DATE).required">Sale_order date is required</div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="due_date" class="control-label mr-4">Due Date:</label>
          <input type="date" class="form-control" [formControlName]="props.DUE_DATE"
            [ngClass]="{ 'is-invalid': (submitted$ | async) && formControlErrors(props.DUE_DATE) }" />
          <div *ngIf="(submitted$ | async) && formControlErrors(props.DUE_DATE)" class="invalid-feedback">
            <div *ngIf="formControlErrors(props.DUE_DATE).required">Sale_order due date is required</div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="ship_date" class="control-label mr-4">Ship Date:</label>
          <input type="date" class="form-control" [formControlName]="props.SHIP_DATE" />
        </div>
        <div class="form-group col-md-6">
          <label for="status" class="control-label mr-4">Status:</label>
          <input type="number" class="form-control" [formControlName]="props.STATUS"
            [ngClass]="{ 'is-invalid': (submitted$ | async) && formControlErrors(props.STATUS) }" />
          <div *ngIf="(submitted$ | async) && formControlErrors(props.STATUS)" class="invalid-feedback">
            <div *ngIf="formControlErrors(props.STATUS).required">Sale_order status is required</div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="is_online_order" class="control-label mr-4">Is Online Order:</label>
          <input type="checkbox" [formControlName]="props.IS_ONLINE_ORDER" />
        </div>
        <div class="form-group col-md-6">
          <label for="num" class="control-label mr-4">Num:</label>
          <input type="text" maxlength="25" class="form-control" [formControlName]="props.NUM"
            [ngClass]="{ 'is-invalid': (submitted$ | async) && formControlErrors(props.NUM) }" />
          <div *ngIf="(submitted$ | async) && formControlErrors(props.NUM)" class="invalid-feedback">
            <div *ngIf="formControlErrors(props.NUM).required">Sale_order num is required</div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="purchase_order_num" class="control-label mr-4">Purchase Order Num:</label>
          <input type="text" maxlength="25" class="form-control" [formControlName]="props.PURCHASE_ORDER_NUM" />
        </div>
        <div class="form-group col-md-6">
          <label for="account_num" class="control-label mr-4">Account Num:</label>
          <input type="text" maxlength="15" class="form-control" [formControlName]="props.ACCOUNT_NUM" />
        </div>
        <div class="form-group col-md-6">
          <label for="customer_id" class="control-label mr-4">Customer ID:</label>
          <input type="text" class="form-control" [formControlName]="props.CUSTOMER_ID"
            [ngClass]="{ 'is-invalid': (submitted$ | async) && formControlErrors(props.CUSTOMER_ID) }" />
          <div *ngIf="(submitted$ | async) && formControlErrors(props.CUSTOMER_ID)" class="invalid-feedback">
            <div *ngIf="formControlErrors(props.CUSTOMER_ID).required">Sale_order customer id is required</div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="ship_to_address_id" class="control-label mr-4">Ship To Address ID:</label>
          <input type="text" class="form-control" [formControlName]="props.SHIP_TO_ADDRESS_ID" />
        </div>
        <div class="form-group col-md-6">
          <label for="bill_to_address_id" class="control-label mr-4">Bill To Address ID:</label>
          <input type="text" class="form-control" [formControlName]="props.BILL_TO_ADDRESS_ID" />
        </div>
        <div class="form-group col-md-6">
          <label for="ship_method" class="control-label mr-4">Ship Method:</label>
          <input type="text" maxlength="50" class="form-control" [formControlName]="props.SHIP_METHOD"
            [ngClass]="{ 'is-invalid': (submitted$ | async) && formControlErrors(props.SHIP_METHOD) }" />
          <div *ngIf="(submitted$ | async) && formControlErrors(props.SHIP_METHOD)" class="invalid-feedback">
            <div *ngIf="formControlErrors(props.SHIP_METHOD).required">Sale_order ship method is required</div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="credit_card_approval_code" class="control-label mr-4">Credit Card Approval Code:</label>
          <input type="text" maxlength="15" class="form-control" [formControlName]="props.CREDIT_CARD_APPROVAL_CODE" />
        </div>
        <div class="form-group col-md-6">
          <label for="sub_total" class="control-label mr-4">Sub Total:</label>
          <input type="number" class="form-control" [formControlName]="props.SUB_TOTAL"
            [ngClass]="{ 'is-invalid': (submitted$ | async) && formControlErrors(props.SUB_TOTAL) }" />
          <div *ngIf="(submitted$ | async) && formControlErrors(props.SUB_TOTAL)" class="invalid-feedback">
            <div *ngIf="formControlErrors(props.SUB_TOTAL).required">Sale_order sub total is required</div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="tax_amt" class="control-label mr-4">Tax Amt:</label>
          <input type="number" class="form-control" [formControlName]="props.TAX_AMT"
            [ngClass]="{ 'is-invalid': (submitted$ | async) && formControlErrors(props.TAX_AMT) }" />
          <div *ngIf="(submitted$ | async) && formControlErrors(props.TAX_AMT)" class="invalid-feedback">
            <div *ngIf="formControlErrors(props.TAX_AMT).required">Sale_order tax amt is required</div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="freight" class="control-label mr-4">Freight:</label>
          <input type="number" class="form-control" [formControlName]="props.FREIGHT"
            [ngClass]="{ 'is-invalid': (submitted$ | async) && formControlErrors(props.FREIGHT) }" />
          <div *ngIf="(submitted$ | async) && formControlErrors(props.FREIGHT)" class="invalid-feedback">
            <div *ngIf="formControlErrors(props.FREIGHT).required">Sale_order freight is required</div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="total_due" class="control-label mr-4">Total Due:</label>
          <input type="number" class="form-control" [formControlName]="props.TOTAL_DUE"
            [ngClass]="{ 'is-invalid': (submitted$ | async) && formControlErrors(props.TOTAL_DUE) }" />
          <div *ngIf="(submitted$ | async) && formControlErrors(props.TOTAL_DUE)" class="invalid-feedback">
            <div *ngIf="formControlErrors(props.TOTAL_DUE).required">Sale_order total due is required</div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="comment" class="control-label mr-4">Comment:</label>
          <input type="text" maxlength="-1" class="form-control" [formControlName]="props.COMMENT" />
        </div>
        <div class="form-group col-md-6">
          <label for="ship_to_address" class="control-label mr-4">Ship To Address:</label>
          <input type="text" class="form-control" [formControlName]="props.SHIP_TO_ADDRESS" />
        </div>
        <div class="form-group col-md-6">
          <label for="bill_to_address" class="control-label mr-4">Bill To Address:</label>
          <input type="text" class="form-control" [formControlName]="props.BILL_TO_ADDRESS" />
        </div>
        <div class="form-group col-md-6">
          <label for="customer" class="control-label mr-4">Customer:</label>
          <input type="text" class="form-control" [formControlName]="props.CUSTOMER" />
        </div>
    </div>
  </form>
</imng-data-entry-dialog>
